.inpCont{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-bottom: 10px;
}
.inpCont input{
    border-radius: 10px;
    padding: 20px;
    width: 40%;
    height: 2.2rem;
    font-size: 1.2rem;
    text-indent: 10px;
}

@media only screen and (max-width: 600px) {
    .inpCont input{
        width: 75%;
    }
    .inpCont{
        width: 95%;
    }
}